antlr4-python3-runtime==4.9
braceexpand
cloudpickle
decord
faiss-gpu
fiddle
h5py
huggingface_hub>=0.23.2,<0.24.0
hydra-core
ijson
jieba
lazy_loader
lhotse
numba
numpy>=1.22
omegaconf
onnx>=1.7.0
opencc
pangu
pynini
python-dateutil
ruamel.yaml
rouge_score
sacremoses
safetensors
scikit-learn
sentencepiece
setuptools>=65.5.1
tensorboard
tensorstore
text-unidecode
torch
tqdm>=4.41.0
tokenizers
transformers==4.40.2
wandb
webdataset
wget
wrapt
zarr

# git+https://github.com/NVIDIA/Megatron-LM.git
